

body, html{
    -moz-height: 100%;
    -moz-width: 90%;
    -moz-max-width: 760px;
    -webkit-height: 100%;
    -webkit-width: 90%;
    -webkit-max-width: 760px;
    
 	background-color: #3F3F40;
 	margin: 20px;

}

body{
    height: 100%;
    width: 90%;
 	background-color: #fffdea;
 	margin: 0px 15px 15px 15px;
	position: relative;
  	transform: perspective(1px) translateX()(-50%);
	font-family: sans-serif;
	border-radius: 8px;
  	padding-top: 40px;
  	padding-bottom: 40px;
  	padding-right: 40px;
  	padding-left: 40px;
  	background-color: #eee;
}

.form-signin, .form-addmedication, .form-signup {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox, .form-signup .form-signup-heading {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control, .form-signup .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus , .form-signup .form-control:focus{
  z-index: 2;
}

.form-signup input[type="username"],.form-signup input[type="email"], .form-signup input[type="password"], .form-signup input[type="confirmpassword"]{
  margin-bottom: 10px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}



.form-signin input[type="email"], .form-addmedication input[type="medicationname"]{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"], .form-addmedication input[type="medicationdosage"]{
  margin-bottom: 10px;
  margin-top: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.days{
	color: #000000;
}

.day{
	font-family: helvetica;
	font-size: 16px;
	color: #4f4f65;
}

.checkbox{
	margin-top: 20px;
	margin-bottom: 30px;

}

h1.title, h1 { 
	font-size: 30px;
	font-family: avenir-black; 
	font-weight: 400; 
	color: #00B4FF;
}

label {
	font-size: 16px;
	color: #3F3F40;
}

.header-label {
	margin-top: 4px;
	font-size: 16px;
	color: #3F3F40;
}

.main-label {
	font-size: 20px;
	font-weight: bold;
	color: #3F3F40;
	text-align: center;
}

.login-button{
	margin: 10px;
	width: 50%;
	height: 60%;
	font-size: 14px;
	font-family: arial; 
	font-style: bold;
	border-radius: 0px;
	background-color: #00B4FF;
}

.repeat .btn{
  background-color: #444fff;
  color: white;
  margin-top:10px;
  margin-bottom: 10px; 

}

.btn{
	background-color: #00B4FF;
	border-color: #00B4FF;
}

.input-group{
	width: 100%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.scrollable-menu {
    height: auto;
    max-height: 150px;
    overflow-x: hidden;
}
 .hour {
    position: relative;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 30%;
    overflow-y: scroll; 
    align-content: left;
 }

 .minute {
    position: relative;
    top: 0px;
    bottom: 0;
    left: 0;
    width: 30%;
    overflow-y: scroll; 
    align-content: center;
 }
  
  
 .midday {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    width: 30%;
    align-content: right;
 }
li{

}
/*Main Dashboard*/
#mainDashboard {
	margin: 4px 0px 0px 10px;
}

.header {
	margin-bottom: 5px;
	margin-top: -2%;
	margin-left: -15%;
	margin-right: -15%;
	padding: 3%;
	background-color: #baf3ff;
	box-shadow: 0px 1px 5px #000000;
}

#currentDate {
	text-align: right;
}

.green-check {
	margin-top: 3px;
	margin-bottom: 6px;
	height: 30px;
	width: auto;
}

.med-item {
	margin: 5px;
	background-color: #ffffff;
	padding-left: 25px;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	font-size: 25px;
	color: #3F3F40;
 	box-shadow:0px 0px 5px #3F3F40;
}

#newMed {
    position: fixed;
    bottom: 2%;
    right: 14%; 
	width: 13%;
}
