

body, html{
    height: 100%;
    width: 90%;
    max-width: 760px;
 	background-color: #3F3F40;
 	margin: 0px 15px 15px 15px;

}

h1.title { 
	font-size: 30px;
	font-family: avenir-black; 
	font-weight: 400; 
	color: #00B4FF;
}


label {
	font-size: 16px;
	font-family: avenir-black; 
	color: #FFFFFF;
}

.header-label {
	margin-top: 4px;
	font-size: 16px;
	font-family: avenir-black; 
	color: #FFFFFF;
}

.main-label {
	font-size: 20px;
	font-weight: bold;
	font-family: avenir-black; 
	color: #FFFFFF;
}

.login-button{
	margin: 10px;
	width: 50%;
	height: 60%;
	font-size: 14px;
	font-family: arial; 
	font-style: bold;
	border-radius: 0px;
	background-color: #00B4FF;
	display: block;

}

.input-group{
	width: 100%;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}


.green-check {
	margin-top: 3px;
	margin-bottom: 6px;
	height: 30px;
	width: auto;
}

.med-item {
	margin: 10px;
	border-bottom: 1px solid #ccc;
	font-size: 25px;
	font-family: avenir-black;
	color: #FFFFFF
}